@charset "UTF-8";
/* main */
div.card {
	padding: 10px;
}
.cover {
    display: flex;
    justify-content: space-between;
    margin: 100px 300px 100px 300px;
}
.cover_in {
	display: flex;
    justify-content: space-between;
}
.textbox{
	background-color: #ececec;
	border: 0px;
	height: 40px;
	width: 400px;
	padding-left: 10px;
}

/* 모달 */    
.modal_b{
  position: fixed;
  top:0; left: 0; bottom: 0; right: 0;
  background: rgba(0, 0, 0, 0.6);
}
input[id*="popup"] + label {
	position:absolute;
	top:57.52%;
	left:33.83%;
	transform:translate(-50%,-50%);
	opacity: 0;
}
* {
	padding:0;
	margin:0;
	line-height:1;
} 
input[id*="popup"] {
	display:none;
}
input[id*="popup"] + label {
	display:inline-block;
	color: black;
}
input[id*="popup"] + label + div {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:100;
}
input[id*="popup"] + label + div > div {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:500px;
	height:300px;
	background: white;
	padding:20px;
	z-index:2;
	border-radius: 30px;
}
input[id*="popup"] + label + div > div > label {
	position:absolute;
	top:0%;
	right:0%;
	transform:translate(40%,-40%);
	padding:20px;
	background-color:#000000;
	border-radius:100%;
	z-index:1;
}
input[id*="popup"] + label + div > label {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1;
}
input[id*="popup"] + label + div {
	opacity:0;
	visibility:hidden;
}
input[id*="popup"]:checked + label + div {
	opacity:1;
	visibility:visible;
}

/* 결제하기 버튼 */
.btn {
	margin-top:20px;
	width:235px;
	height:40px;
	display:inline-block;
	background-color:#cbcbcb;
	border:0;
	outline:0;
	color:#303033;
	border-radius:3px;
}