@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  color: black;
}

#header_category.fixed {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}



#headerLine {
	margin-top: 10px;
	margin-bottom: 10px;
    border: 0;
    height: 1px;
    background: #ccc;	
}

.main_topbar {
	list-style:none;
	text-align: center;
	display: table;
 	width: 100%;
 	
}

.main_topbar > li {
	text-align: center;
	display: inline-block;
	margin: 10px;
	
}

/* 상단바 텍스트 */
.main_topbar > li > p {
	/* ----- 드래그 방지 스타일 -----*/
	-webkit-user-select: none;
 	-moz-user-select: none;
 	-ms-user-select: none;
 	user-select: none;
 	/* -----------------------*/
 	margin-top: 0px;
 	font-size: 15px;
 	font-weight: bold;
}

/* 필터 영역 스타일 ============*/
/* 모달 */

.btn_filter {
	text-decoration: none;
}
.btn_filter p {
	/* ----- 드래그 방지 스타일 -----*/
	-webkit-user-select: none;
 	-moz-user-select: none;
 	-ms-user-select: none;
 	user-select: none;
 	/* -----------------------*/
 	margin-top: 0px;
 	font-size: 15px;
 	font-weight: bold;
 	text-decoration: none;
 	color: black;
}


/*=========================*/

.center_imgs  a  div {
	width: 260px;
	height: 260px;
	border-radius: 5%;
	overflow: hidden;
}

.center_imgs  a  div  img {
	width: 100%;
	height: 100%;
 	object-fit: cover;
}

.center_imgs  a  p {
	text-align: center;
}

.center_list {
	text-align: center;
	list-style: none;
	display: block;
	
	/* 센터 왼쪽 여백 */
	margin-left: 100px;
}

.center_list  li {
	float: left;
	/* 숙소 리스트끼리의 간격 */
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.center_list  li  a  p {
	font-size: 15px;
	text-align: left;
	margin-top: 3px;
	margin-bottom: 3px;
	
}

.location, .price {
	font-weight: bold; 
}

.center_list a {
	display:block;
	text-decoration:none;
}

.center_list a:visited {
 	color : black;
}

/* 검색 스타일 */
.search {
	text-align: center;
}

/* 상단바 카테고리 이미지(이모티콘) */
#category1 {background-image: url('../main_img/top1_w60.jpg');background-position:  0px 0px;background-repeat: no-repeat;background-color: white;
    width: 60px;
    height: 60px;
    border: 0px;
    border-style: none;
 	cursor:pointer;
 	outline: 0;
}
#category2 {background-image: url('../main_img/top2_w60.jpg');background-position:  0px 0px;background-repeat: no-repeat;background-color: white;
    width: 60px;
    height: 60px;
    border: 0px;
    border-style: none;
 	cursor:pointer;
 	outline: 0;
}
#category3 {background-image: url('../main_img/top3_w60.jpg');background-position:  0px 0px;background-repeat: no-repeat;background-color: white;
    width: 60px;
    height: 60px;
    border: 0px;
    border-style: none;
 	cursor:pointer;
 	outline: 0;
}
#category4 {background-image: url('../main_img/top4_w60.jpg');background-position:  0px 0px;background-repeat: no-repeat;background-color: white;
    width: 60px;
    height: 60px;
    border: 0px;
    border-style: none;
 	cursor:pointer;
 	outline: 0;
}
#category5 {background-image: url('../main_img/top5_w60.jpg');background-position:  0px 0px;background-repeat: no-repeat;background-color: white;
    width: 60px;
    height: 60px;
    border: 0px;
    border-style: none;
 	cursor:pointer;
 	outline: 0;
}
#category6 {background-image: url('../main_img/top6_w60.jpg');background-position:  0px 0px;background-repeat: no-repeat;background-color: white;
    width: 60px;
    height: 60px;
    border: 0px;
    border-style: none;
 	cursor:pointer;
 	outline: 0;
}
#category7 {background-image: url('../main_img/top7_w60.jpg');background-position:  0px 0px;background-repeat: no-repeat;background-color: white;
    width: 60px;
    height: 60px;
    border: 0px;
    border-style: none;
 	cursor:pointer;
 	outline: 0;
}
#category8 {background-image: url('../main_img/top8_w60.jpg');background-position:  0px 0px;background-repeat: no-repeat;background-color: white;
    width: 60px;
    height: 60px;
    border: 0px;
    border-style: none;
 	cursor:pointer;
 	outline: 0;
}
#category9 {background-image: url('../main_img/top9_w60.jpg');background-position:  0px 0px;background-repeat: no-repeat;background-color: white;
    width: 60px;
    height: 60px;
    border: 0px;
    border-style: none;
 	cursor:pointer;
 	outline: 0;
}
#category10 {background-image: url('../main_img/top10_w60.jpg');background-position:  0px 0px;background-repeat: no-repeat;background-color: white;
    width: 60px;
    height: 60px;
    border: 0px;
    border-style: none;
 	cursor:pointer;
 	outline: 0;
}
#category11 {background-image: url('../main_img/top1_w60.jpg');background-position:  0px 0px;background-repeat: no-repeat;background-color: white;
    width: 60px;
    height: 60px;
    border: 0px;
    border-style: none;
 	cursor:pointer;
 	outline: 0;
}
#category12 {background-image: url('../main_img/top2_w60.jpg');background-position:  0px 0px;background-repeat: no-repeat;background-color: white;
    width: 60px;
    height: 60px;
    border: 0px;
    border-style: none;
 	cursor:pointer;
 	outline: 0;
}
#category13 {background-image: url('../main_img/top3_w60.jpg');background-position:  0px 0px;background-repeat: no-repeat;background-color: white;
    width: 60px;
    height: 60px;
    border: 0px;
    border-style: none;
 	cursor:pointer;
 	outline: 0;
}
#category14 {background-image: url('../main_img/top4_w60.jpg');background-position:  0px 0px;background-repeat: no-repeat;background-color: white;
    width: 60px;
    height: 60px;
    border: 0px;
    border-style: none;
 	cursor:pointer;
 	outline: 0;
}

#cont_star {
	text-align: right;
	float: right;
	margin-right: 5px;
}





	