@charset "UTF-8";

body {
  padding-top: 8%;
}
	
.header {
  width: 100%;
  height: 13%;
  left: 0px;
  top: 0px;
  position: fixed;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

/* 위치 조정 */
.wrapper{
  position: absolute;
  top: 25%;
  left: 80%;
}

.wrapper .container{
  width: 200px;
}

.wrapper .icon{
  width: 40px;
  height: 40px;
  margin: 0 auto 16px;
  position: relative;
  cursor: pointer;
  content: url("../main_img/login.png");
}

.wrapper .icon > div{
  position: absolute;
  top: 45%;
  left: 25%;
  width: 50%;
  height: 3px;
  background: #fff;
  border-radius: 50px;
  transition: all 0.3s linear;
}

.wrapper .container .menu{
  width: 180px;
  height: auto;
  margin: 0 auto;
  background: #fff;
  position: relative;
  opacity: 0;
  top: -10px;
  transition: all 0.5s linear;
}

.wrapper .container .menu ul li{
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s linear;
  border: solid 0.1px;
}

.wrapper .container .menu ul li a{
  padding: 10px;
  font-size: 12px;
  color: #757575;
  display: block;
  transition: all 0.2s linear;
}

.wrapper .container .menu:before{
  content: "";
  position: absolute;
  top: -19px;
  left: 50%;
  transform: translateX(-50%);
  border-top: 10px solid transparent;
  border-bottom: 8px solid black;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.wrapper .icon.active{
  trasform: rotate(90deg);
}

.wrapper .container .menu.active{
  opacity: 1;
  top: 0px;
}

.modal{
  height: 40%;
}